{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-9 col-xs-8">
                <h4>&copy; 2017 SpoofProof</h4>
                <p class="skip-gap">Created By:</p>
                <ul>
                    <li>Jesus Bamford</li>
                    <li>Heather Bradfield</li>
                    <li>Kristen Godinez</li>
                    <li>Dylan Hart</li>
                </ul>
                <p>at <a href="http://www.sbhacks.com/" target="_blank">SBHacks III</a></p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
                <a href="http://www.sbhacks.com/" target="_blank">
                    <img class="img-responsive" src="{% static 'img/sbhacks.png' %}">
                </a>
            </div>
        </div>

    </div>
</footer>
