{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-9 col-xs-8">
                <h4>&copy; 2017 SpoofProof</h4>
                <p class="skip-gap">Created By:</p>
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/in/jesus-bamford">Jesus Bamford</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/heatherbradfield">Heather Bradfield</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/kzgodi">Kristen Godinez</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/dylan-hart">Dylan Hart</a></li>
                </ul>
                <p>at <a href="http://www.sbhacks.com/" target="_blank">SBHacks III</a></p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
                <a href="http://www.sbhacks.com/" target="_blank">
                    <img class="img-responsive" src="{% static 'img/sbhacks.png' %}">
                </a>
            </div>
        </div>

    </div>
</footer>
