{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpoofProof.net</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/journal-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/fakenews.css'  %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="page-section img-newpaper ">
    <div class="container">
        <h1 class="title"><span class="spoof">Spoof</span><span class="proof">Proof</span><span class="net">.net</span></h1>
        <div class="jumbotron">
            <h2>Detect fake news with ease!</h2>
            <p>Enter any site below for a fake news analysis.</p>
            <div class="input-group input-group-lg">
                {% csrf_token %}
                <input id="url_input" class="form-control" type="text" placeholder="http://fake.site..." name="test_url"/>
                <span class="input-group-btn">
                    <button id="submit_url" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Detect Fake News</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="page-section dark">
    <div class="container">
        <h2>About Fake News</h2>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3>Blarg 1</h3>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
            </div>
            <div class="col-md-4 col-xs-12">
                <h3>Blarg 1</h3>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
            </div>
            <div class="col-md-4 col-xs-12">
                <h3>Blarg 1</h3>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-9 col-xs-8">
                <h4>&copy; 2017 SpoofProof</h4>
                <p class="skip-gap">Created By:</p>
                <ul>
                    <li>Jesus Bamford</li>
                    <li>Heather Bradfield</li>
                    <li>Kristen Godinez</li>
                    <li>Dylan Hart</li>
                </ul>
                <p>at <a href="http://www.sbhacks.com/" target="_blank">SBHacks III</a></p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
                <a href="http://www.sbhacks.com/" target="_blank">
                    <img class="img-responsive" src="{% static 'img/sbhacks.png' %}">
                </a>
            </div>
        </div>

    </div>
</footer>
<script type="text/javascript">
    $(function () {
        var url_input = $('#url_input');
        var submit_btn = $('#submit_url');
        var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        var has_submitted = false;
        submit_btn.click(function () {
            if (!has_submitted) {
                has_submitted = true;
                url_input.attr('disabled', true);
                var old_html = submit_btn.html();
                submit_btn
                        .removeClass('btn-success')
                        .addClass('btn-default')
                        .html('<i class="glyphicon glyphicon-refresh spin"></i> Processing...');

                var data = {
                    url: url_input.val(),
                    csrfmiddlewaretoken: csrf_token
                };
                $.post('{% url 'fn:detect' %}', data, function (data) {
                    if (data.success) {
                        document.location = data.results;
                    } else {
                        has_submitted = false;
                        url_input.attr('disabled', false);
                        submit_btn
                                .removeClass('btn-default')
                                .addClass('btn-success')
                                .html(old_html);
                        console.log(data);
                    }
                }, 'json');
            }
        })
    });
</script>
</body>
</html>