{% extends 'fakenews/base_html.html' %}
{% load static %}

{% block content %}
<div class="page-section img-newpaper ">
    <div class="container">
        <a href="{% url 'fn:index' %}">
            <h1 class="title"><span class="spoof">Spoof</span><span class="proof">Proof</span><span class="net">.net</span></h1>
        </a>
        <div class="jumbotron">
            <h2>Detect fake news with ease!</h2>
            <p>Enter any site below for a credibility analysis.</p>
            <div class="input-group input-group-lg">
                {% csrf_token %}
                <input id="url_input" class="form-control" type="text" placeholder="http://url.to/article..." name="test_url"/>
                <span class="input-group-btn">
                    <button id="submit_url" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Detect Fake News</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="page-section dark">
    <div class="container">
        <h2>About SpoofProof:</h2>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3>What is Fake News?</h3>
                <p>
                    Fake News is false information that is purported as fact and made to look credible in some manner.
                    Fake News is made up to resemble credible journalism while acting in subversive ways.
                    It is often used in malicious manners, like spreading false political information, or as a way to
                    generate large amounts of advertising resume from the attention the false claims gather.
                </p>
            </div>
            <div class="col-md-4 col-xs-12">
                <h3>What is SpoofProof?</h3>
                <p>
                    SpoofProof is a system that tries to automatically determine whether a given source is fake.
                    It uses several heuristics to determine if a source is fake including tone analysis (via IBM Watson) and runs the data
                    through a trained filter to classify the source as fake or not.
                </p>
            </div>
            <div class="col-md-4 col-xs-12">
                <h3>How can I help?</h3>
                <p>Anyone can help stop the spread of Fake News by keeping a few small ideas in mind.</p>
                <p>
                    <strong>Care what you share!</strong>
                    Don't help spread Fake News via Social Media
                </p>
                <p>
                    <strong>Don't click on obviously fake sources.</strong>
                    This stops spreaders of Fake News from receiving advertising revenue from your visit.
                </p>
                <p>
                    <strong>Support Truthful Journalism</strong>
                    Make it profitable to tell the truth.
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'fakenews/include/footer.html' %}
<script id="alert-template" type="x-template">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="alert-text">blah blah</span>
    </div>
</script>
<script type="text/javascript">
    $(function () {
        var url_input = $('#url_input');
        var submit_btn = $('#submit_url');
        var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        var alert_template = $('#alert-template').html();
        var has_submitted = false;
        submit_btn.click(function () {
            if (!has_submitted) {
                has_submitted = true;
                url_input.attr('disabled', true);
                var old_html = submit_btn.html();
                submit_btn
                        .removeClass('btn-success')
                        .addClass('btn-default')
                        .html('<i class="glyphicon glyphicon-refresh spin"></i> Processing...');

                // clear old alerts
                $('.alert-dismissable').remove();

                var data = {
                    url: url_input.val(),
                    csrfmiddlewaretoken: csrf_token
                };
                $.post('{% url 'fn:detect' %}', data, function (data) {
                    console.log(data);
                    if (data.success) {
                        document.location = data.results;
                    } else {
                        has_submitted = false;
                        url_input.attr('disabled', false);
                        submit_btn
                                .removeClass('btn-default')
                                .addClass('btn-success')
                                .html(old_html);
                        var alert = $(alert_template);
                        alert.find('.alert-text').html(data.msg);
                        url_input.parent().before(alert);
                    }
                }, 'json');
            }
        })
    });
</script>
{% endblock %}
